.summary-container {
  .videos-container {
    padding: 10px 0px 10px 0px;
    padding-top: 70px;
    .panel-body {
      max-height: 200px;
      overflow: hidden;
      padding: 0px;
    }
    .panel-body img {
      max-width: 100%;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
    .panel-body:hover img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
.filter-container {
  width: 92%;
  padding: 15px 0px 15px 0px;
  position: fixed;
  z-index: 999;
  background-color: white;
  .title {
    font-size: 18px;
    font-weight: 500;
  }
}
