$dark-gray-color: #BDC3C7;
$light-gray-color: #f4f5f5;
$dark-gray-color2: #869690;
$dark-gray-color3: #333;
$black-font-color: #444;
$white-color: #fff;
$dark-blue-color: #1b3653;
$light-black-font-color: #707171;
$light-black2: #807B7B;
$light-blue-color: #D2EBF9;
$dark-orange: rgb(220, 126, 41);
$red-color: #DD4528;
$light-orange: #E8B133;
$light-orange2: #E7B132;
$dark-orange: #DD7E28;
$dark-orange2: #fbb040;
$black3: #744445;
$black4: #1D2833;
$blue3-color: #3A6CA0;
$blue2-color: #19447B;
$blue1: #009FE3;
$blue2: #1d71b8;
$green1: #7DBA00;
$green2: #7fc242;
$grey3: #CCCCCC;
$grey4: #CCCBCB;
$grey5: #bcbec0;
$grey6: #ddd;
$grey7: #e1e6dd;
$grey8: #f7f7f7;
$grey9: #C1C1C1;
$grey10: #5B5B5B;
$grey11: #B3BFC7;
$grey12: #555;
$red1: #ed1c24;
$yellow1: #f7941e;
$yellow2: #EADB41;
$grey-font1: #a7a9ac;
$black-font1: #717171;
$black-font2: #707070;
$green: #7DBA00;
$black1: #000;
$brown1: #A94442;
$light-brown: #F2DEDE;
$light-brown1: #EBCCD1;
$dark-brown1: #dca7a7;
$red-color: #be1e2d;
$green-color: #8dc63f;
