$black4: #1D2833;
$blue3-color: #3A6CA0;
$blue2-color: #19447B;
$blue1: #009FE3;
$blue2: #1d71b8;
$green1: #7DBA00;
$green2: #7fc242;
$grey3: #CCCCCC;
$grey4: #CCCBCB;
$grey5: #bcbec0;
$grey6: #ddd;
$grey7: #e1e6dd;
$grey8: #f7f7f7;
$grey9: #C1C1C1;
$grey10: #5B5B5B;
$grey11: #B3BFC7;
$grey12: #555;
$grey-font1: #a7a9ac;
$black-font1: #717171;
$black-font2: #707070;
$black1: #000;
