<div class="home-container">
  <!--Carousel Begin-->
  <div id="{{'topVideos'+videos.currentState}}" class="topMovieCarousel carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#topMovieCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#topMovieCarousel" data-slide-to="1"></li>
      <li data-target="#topMovieCarousel" data-slide-to="2"></li>
      <li data-target="#topMovieCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner movieCarouselImg" role="listbox">
      <div class="item" ng-repeat="item in videos.top4VideosList.relatedResults" ng-class="{'active':$first}">
        <img src="{{item.posterUrl}}">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" ng-class="{'movies':videos.currentState === 'Movies','tv': video.currentState === 'TVShows'}" carousel-slide-button = "{{'topVideos'+videos.currentState}}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" ng-class="{'movies':videos.currentState === 'Movies','tv': video.currentState === 'TVShows'}" carousel-slide-button = "{{'topVideos'+videos.currentState}}"  role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--Movies List-->
  <div class="row movies-list-container">
    <div class="head-cont">
      <a class="movies-header" ui-sref="root.summary({'type': 'Premium'+videos.currentState})">
        <span class="movies-type">Premium {{videos.currentState}}</span> <span class="fa fa-chevron-right fa-icon"></span>
      </a>
    </div>
    <div class="movie-list">
      <div id="{{'premiumCarousel'+videos.currentState}}" class="movieListCarousel carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item row" ng-repeat="items in videos.premiumVideoSubLists" ng-class="{'active':$first}">
            <div class="col-md-3 col-sm-4" ng-repeat="item in items"
                 ng-class="{'hidden-xs':!$first, 'hidden-sm':$last}">
              <div class="panel panel-default my_panel" ui-sref="root.videoPlay">
                <div class="panel-body">
                  <img ng-src="{{item.posterUrl}}" alt="" class="img-responsive center-block"/>
                </div>
                <div class="panel-footer">
                  <h4 ng-bind="item.title"></h4>
                  <span ng-bind="item.genere"></span> <span ng-bind="item.language"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" ng-class="{'movies':videos.currentState === 'Movies','tv': video.currentState === 'TVShows'}" carousel-slide-button = "{{'premiumCarousel'+videos.currentState}}" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" ng-class="{'movies':videos.currentState === 'Movies','tv': video.currentState === 'TVShows'}" carousel-slide-button = "{{'premiumCarousel'+videos.currentState}}" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!--Movies List Repeat-->
  <div class="row movies-list-container">
    <div class="head-cont">
      <a class="movies-header" ui-sref="root.summary({'type': 'Subscription'+videos.currentState})">
        <span class="movies-type">Subscription {{videos.currentState}}</span> <span class="fa fa-chevron-right fa-icon"></span>
      </a>
    </div>
    <div class="movie-list">
      <div id="{{'subscriptionCarousel'+videos.currentState}}" class="subscriptionVideoCarousal carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item row" ng-repeat="items in videos.subscriptionVideosList" ng-class="{'active':$first}">
            <div class="col-md-3 col-sm-4" ng-repeat="item in items"
                 ng-class="{'hidden-xs':!$first, 'hidden-sm':$last}">
              <div class="panel panel-default my_panel" ui-sref="root.videoPlay">
                <div class="panel-body">
                  <img ng-src="{{item.posterUrl}}" alt="" class="img-responsive center-block"/>
                </div>
                <div class="panel-footer">
                  <h4 ng-bind="item.title"></h4>
                  <span ng-bind="item.genere"></span> <span ng-bind="item.language"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" ng-class="{'movies':videos.currentState === 'Movies','tv': video.currentState === 'TVShows'}" carousel-slide-button = "{{'subscriptionCarousel'+videos.currentState}}" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" ng-class="{'movies':videos.currentState === 'Movies','tv': video.currentState === 'TVShows'}" carousel-slide-button = "{{'subscriptionCarousel'+videos.currentState}}" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

</div>
