<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container header-container">
      <div class="navbar-header">
        <a class="navbar-brand">eClineFlicks</a>
        <div class="visible-xs hidden-sm hidden-md hidden-lg pull-right mobile-search-box">
              <input type="text" class="input-search-box form-control" placeholder="Search">
        </div>
      </div>

      <div class="visible-xs-* hidden-sm hidden-md hidden-lg">
        <ul class="list-unstyled list-inline">
          <li><a ng-href="#/" >Movies</a></li>
          <li><a ng-href="#/">TV</a></li>
        </ul>
      </div>

      <div class="hidden-xs">
        <ul class="nav navbar-nav">
          <li ><a ui-sref="root.movies">Movies</a></li>
          <li ><a ui-sref="root.TVShows">TV</a></li>
        </ul>
        <ul class="nav navbar-nav hidden-xs pull-right">
          <li>
              <form name="searchForm">
                <input type="text" id="search-videos-input" ng-model="main.searchInput" class="input-search-box form-control" placeholder="Search" ng-change="main.getSuggestions(main.searchInput)">
              </form>
            <div class="row suggestions-container">
              <div class="row search-results-section" ng-repeat="item in main.suggestionResults">
                <div class="col-xs-3 suggestion-image-cont">
                <span class="fa fa-film fa-2x"></span>
              </div>
                <div class="col-xs-9">
                  <span ng-bind="item.title"></span>
                </div>
                <hr>
              </div>
            </div>
          </li>
          <li>
            <a class="user-icon" ng-href="#/" data-toggle="popover" data-placement="bottom" data-content="Sign In">
              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ui-view="body" class="main-body"></div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the eCineFlicks</p>
  </div>
</div>
