
<div class="filter-container">
  <div>
    <span>Filter By: Premium</span>
    <select class="selectpicker">
      <option value="volvo">Premium</option>
      <option value="saab">Subscription</option>
      <option value="opel">All</option>
      <option value="audi">Free</option>
    </select>
    <span style="padding-left: 30px">Sort By: Language</span>
    <select class="selectpicker">
      <option value="volvo">Recent</option>
      <option value="saab">Popular</option>
      <option value="opel">Duration</option>
    </select>

  </div>
</div>

<div class="summary-container">
  <div class="row videos-container">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="images/highwayonplate.png" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4> Movie Title1</h4>
          <span>Telugu</span> <span> Action</span>
        </div>
      </div>
    </div>
  </div>
</div>
