
<div class="filter-container">
  <span class="title" ng-bind="summary.title">
  </span>

  <span>
    <span style="padding-left: 30px">Sort By: </span>
    <select ng-model="summary.sortOption"
            ng-options="opt.key as opt.value for opt in summary.sortOptions">
    </select>
  </span>

    <span>
    <span style="padding-left: 30px">Language: </span>
       <select ng-model="summary.languageOption"
               ng-options="opt.key as opt.value for opt in summary.languageOptions">
       </select>
  </span>
</div>

<div class="summary-container">
  <div class="row videos-container">
    <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="video in summary.resultList | orderBy: summary.sortOption : reverse : false | filter : { 'language' : summary.languageOption}">
      <div class="panel panel-default my_panel">
        <div class="panel-body">
          <img ng-src="{{video.posterUrl}}" alt="" class="img-responsive center-block"/>
        </div>
        <div class="panel-footer">
          <h4 ng-bind="video.title"></h4>
          <span ng-bind="video.language"></span> <span ng-bind="video.genere"></span>
        </div>
      </div>
    </div>
  </div>
</div>
